<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1 th:text="${title}"></h1>
    <a  th:text="'Наша компания — частная российская космическая компания, занимающаяся навигационно-баллистическим обеспечение полетов ракет и космических аппаратов. Имеем тесные связи с РОСКОСМОС, ЕКА и НАСА. Выполняем работы абсолютно любой сложности в кратчайшие сроки с должным качеством исполнения. Офис расположен в Егорьевске.'"></a><br>
    <h3 th:text="'Контакты:'"></h3>
    <a th:text="'Телефон: +7 (999) 888-77-66'"></a><br>
    <a th:text="'mail:    spacemissions@gmail.com'"></a><br>
    <a th:text="'Данный сайт не иммеет ничего реального. Все вымысел'"></a><br>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>