<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>


<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Space missions</h1>
    <div th:each="el : ${missions}" class="alert alert-info mt-2">
        <h3 th:text="'№' + ${el.id}"></h3>
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.anons}"></p>
        <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">Details</a>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>



</html>