<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit mission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>


<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Edit mission</h1>
    <div th:each="el : ${mission}">
        <h3 th:text="'№' + ${el.id}"></h3>
        <form method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Enter the title of the mission" class="form-control"><br>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Enter the anons of the mission" class="form-control"><br>
            <textarea name="fullText" placeholder="Enter the full text of the mission" class="form-control" th:text="${el.fullText}"/><br>
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>



</html>