<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Blog web</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
  <div th:each="el : ${mission}" class="alert alert-info mt-2">
    <h3 th:text="'№' + ${el.id}"></h3>
    <h1 th:text="${el.title}"></h1>
    <p th:text="${el.anons}"></p><hr>
    <p th:text="${el.fullText}"></p><br><hr>
    <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a><br>
    <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
      <button class="btn btn-warning" type="submit">Remove</button>
    </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>